[submodule "extern/glew"]
	path = extern/glew
	url = https://github.com/Perlmint/glew-cmake
[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/glfw/glfw
[submodule "extern/catch2"]
	path = extern/catch2
	url = https://github.com/catchorg/Catch2.git
	branch = v2.x
[submodule "extern/fmt"]
	path = extern/fmt
	url = https://github.com/fmtlib/fmt
